@font-face {
    font-family: "alex";
    src: url('./fonts/AlexBrush-Regular.woff2') format('woff2'), 
        url('./fonts/AlexBrush-Regular.woff') format('woff');
    font-weight: normal;;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "rubik";
    src: url('./fonts/Rubik-Regular.woff2') format('woff2'), 
        url('./fonts/Rubik-Regular.woff') format('woff');
    font-weight: normal;;
    font-style: normal;
    font-display: swap;
}



* {
    box-sizing: border-box;
}

.flex-container {
    max-width: 700px;
    height: 400px;
    background-color: lightgreen;
    border: 3px solid darkgreen;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.flex-1 {
    width: 650px;
    height: 100px;
    margin: 15px 15px;
    background-color: lightblue;
    border: 4px solid darkblue;
    display: flex;
    
}
.flex-11 {
    width: 200px;
    height: 80px;
    margin: auto;
    background-color: lightyellow;
    border: 4px solid darkgrey;
}

.flex-12 {
    width: 200px;
    height: 80px;
    margin: auto;
    background-color: lightyellow;
    border: 4px solid darkgrey;   

}

.flex-13 {
    width: 200px;
    height: 80px;
    margin: auto;
    background-color: lightyellow;
    border: 4px solid darkgrey;

}

.inner {
    width: 650px;
    height: 250px;
    margin: auto;
    border: 4px solid lightyellow;
    display: flex;
    align-items: center;
}

.flex-2 {
    width: 300px;
    height: 200px;
    margin-left: 20px;
    background-color: lightblue;
    border: 4px solid darkblue;
}

.flex-3 {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: auto;
    flex: wrap;

}

.flex-4 {
    width: 300px;
    height: 95px;
    background-color: lightblue;
    border: 4px solid darkblue;
    margin-bottom: 10px;
}

.flex-5 {
    width: 300px;
    height: 95px;
    background-color: lightblue;
    border: 4px solid darkblue;

}




.second-container {
    width: 200px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid;
}

.second-container p {
    margin: auto;
    padding: 5px;

}

svg {
    width: 200px;
}

circle {
    fill: red;
}

table {
    width: 600px;
    margin-top: 50px;
    border: 1px solid;
    border-collapse: collapse;
    
    
}

th, td {
    text-align: left;
    padding: 5px;
    border: 1px solid;
}

tr:nth-child(even){
    background-color: skyblue;
}



.second-container {
    width: 200px;
    height: 100px;
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border: 1px solid;
}

.second-container p {
    margin: auto;
    padding: 5px;

}